.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .profile__subtitle {
    font-size: 15px;
  }
}

@media (max-width: 630px) {
  .profile__subtitle {
    justify-self: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    max-width: 280px;
  }
}