.popup__button_inactive {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

.popup__button_inactive:hover {
    opacity: 1;
    transform: none;
    animation: none;
    color: rgba(0, 0, 0, 0.2);
}