@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
@import url("./blocks/body/body.css");
@import url("./blocks/page/page.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/elements/elements.css");
@import url("./blocks/elements/__items/elements__items.css");
@import url("./blocks/element/element.css");
@import url("./blocks/element/__image/element__image.css");
@import url("./blocks/element/__description/element__description.css");
@import url("./blocks/element/__text/element__text.css");
@import url("./blocks/element/__likes/element__likes.css");
@import url("./blocks/element/__like-counter/element__like-counter.css");
@import url("./blocks/element/__like-button/element__like-button.css");
@import url("./blocks/element/__like-button/_clicked/element__like-button_clicked.css");
@import url("./blocks/element/__delete-button/element__delete-button.css");
@import url("./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css");
@import url("./blocks/element/__card-author/element__card-author.css");
@import url("./blocks/element/__author/element__author.css");
@import url("./blocks/element/__author/_shown/element__author_shown.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__image/profile__image.css");
@import url("./blocks/profile/__image-button/profile__image-button.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/popup/__field/popup__field.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_invalid/popup__input_invalid.css");
@import url("./blocks/popup/__input-error/popup__input-error.css");
@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__button/_inactive/popup__button_inactive.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/_type/popup_type_image.css");
@import url("./blocks/popup/__container-image/popup__container-image.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/__caption/popup__caption.css");
@import url("./blocks/popup/__close-button/_position/popup__close-button_position_side.css");
@import url("./blocks/popup/__container/_type/popup__container_type_add.css");
@import url("./blocks/popup/__container/_type/popup__container_type_delete.css");
@import url("./blocks/popup/__error-image/popup__error-image.css");
@import url("./blocks/popup/__title/_type/popup__title_type_error.css");
@import url("./blocks/popup/__subtitle/popup__subtitle.css");
@import url("./blocks/popup/__open-animation/popup__open-animation.css");
@import url("./blocks/element/__card-author/element__card-author.css");
@import url("./blocks/element/__author/element__author.css");
@import url("./blocks/element/__author/_shown/element__author_shown.css");
@import url("./blocks/loader/loader.css");
@import url("./blocks/loader/_shown/loader_shown.css");
@import url("./blocks/loader/__image/loader__image.css");
@import url("./blocks/loader/__image/_size/loader__image_size_xl.css");
@import url("./blocks/loader/__image/_size/loader__image_size_l.css");
@import url("./blocks/loader/__image/_size/loader__image_size_m.css");
@import url("./blocks/loader/__image/_size/loader__image_size_s.css");
@import url("./blocks/loader/__image/_size/loader__image_size_xs.css");